<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../public/css/demo.css">
	<style>
	.row{
		border: 1px solid black;
	}
	img{
		width: 100%;
		height: 70%;
	}
</style>
</head>
<body>
	<div class="container">
		<h2>COMMENT</h2>
		<div class="row">
			<div class="col-4" style="margin-right: 5%;">
				<div>
					<img src="../public/img/images.jpg" alt="">
				</div>
			</div>
			<div class="col-4">
				<h4>Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.</h4>
			</div>
		</div>
		<div class="row">
			<div style="margin-right: 5%;" class="col-4">
				<div>
					<img src="../public/img/images.jpg" alt="">
				</div>
			</div>
			<div class="col-4">
				<h4>Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.</h4>
			</div>
		</div>
		<div class="row">
			<div style="margin-right: 5%;" class="col-4">
				<div >
					<img src="../public/img/images.jpg" alt="">
				</div>
			</div>
			<div class="col-4">
				<h4>Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.</h4>
			</div>
		</div>
		<div class="row" >
			<div style="margin-right: 5%;" class="col-4">
				<div >
					<img src="../public/img/images.jpg" alt="">
				</div>
			</div>
			<div class="col-4">
				<h4>Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.Đêm ở đây lạnh buốt, nhưng với ước muốn của mình, tôi chụp lại bằng được cảnh bầu trời đêm trên đảo Senja tỏa sáng bởi cực quang. Cụm từ Ánh sáng phương Bắc bắt nguồn từ những dải sáng lung linh của cực quang vắt ngang bầu trời xứ Bắc Âu.</h4>
			</div>
		</div>
	</div>
	<footer></footer>
</body>
</html>